<div class="container">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Bienvenidos</h1>
            <p class="lead text-muted">Resgitro y seguimiento PIAR</p>
        </div>
    </section>
    <div class="container marketing">
<div class="row-center">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>MOTIVACIÓN</h2>  
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>SENSO PERCEPCIÓN</h2>
       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>MEMORIA</h2>
       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>ATENCIÓN</h2>

      </div><!-- /.col-lg-4 -->

<div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>HABILIDADES COGNITIVAS</h2>  
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>HABILIDADES COMUNICATIVAS</h2>
       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>HABILIDADES SOCIOAFECTIVAS</h2>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>HABILIDADES DE AUTOCUIDADO E INDEPENDENCIA</h2>  
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>HABILIDADES MOTRICES</h2>
       
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>HABILIDADES BÁSICAS DE LECTO ESCRITURA</h2>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
        <h2>HABILIDADES BÁSICAS DE MATEMÁTICAS</h2>  
      </div><!-- /.col-lg-4 -->
          

    </div>


    </div>
    

</div>