<div class="container">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Bienvenidos</h1>
            <p class="lead text-muted">Resgitro y seguimiento PIAR
            </p>
        </div>
    </section>

</div>